@font-face{
    font-family:"raleway";
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
@font-face{
    font-family: "raleaway-italic";
    src: url(fonts/Raleway-Italic-VariableFont_wght.ttf);

/*BODY*/
}
body{
    margin: auto;
    max-width: 1440px;
    font-family: "raleway", sans-serif;
    box-sizing: border-box;
}

/* HEADER ET BARRE NAV */
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 36px;
    padding-bottom: 30px;
    max-width: 100%;
}
.logo{margin-left: 40px;}

nav{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.nav-element{
    align-items: center;
    padding: 49px 20px 0 20px;
}
a{
    font-size: 17px;
    font-weight:600;
    text-decoration: none;
    color: inherit;
}
.hebergements-nav{
    color: #0065FC;
    border-top: 4px solid #0065FC;
    max-width: 50%;
}
.activites-nav:hover{
    color: #0065FC;
    border-top: 4px solid #0065fc;
}
.sign{
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
    font-weight:800;
    color: #0065FC;
}
.sign:hover{color: #0d4599;}

/*SEARCH*/
.titleinfo{margin-left: 45px;}

main h1{
    font-size: 26px;
    font-weight: 700;
}

main p{
    margin-bottom: 20px;
    color: inherit;
    font-weight: 500;
}
.search{
    display: flex;
    height: 50px;
    margin-left: 45px;
    margin-right: 45px;
}
.search i{
    padding: 15px 19px;
    background-color: #F2F2F2;
    border-radius: 0.8rem 0 0 0.8rem;
}
input[type=search]{
    padding: 10px ;
    border: 3px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    font-weight: 700;
    font-size: 17px;
    font-family: "raleway", sans-serif;
}
.search-button{
    padding: 10px 10px 10px 10px;
    background-color: #0065FC;
    color:white;
    font-size: 17px;
    font-weight: 700;
    border: 0;
    border-radius: 0 0.8rem 0.8rem 0 ;
    font-family: "raleway", sans-serif;
    cursor: pointer;
}
.search-loupe{display: none;}
.search-button:hover{background-color: #134ea5;}

/*FILTERS*/
.filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-family: "raleway",sans-serif;
    margin: 20px 0 20px 0;
}
.filters-selection{
    display: flex;
    flex-wrap: wrap;
}
.filters-button{
    position: relative;
    border: 3px solid #F2F2F2;
    border-radius: 2rem;
    padding: 11px;
    padding-left: 60px;
    margin: 5px 0px 0 10px;
    cursor: pointer;
}
.filters-button:hover{
    background-color:#0065FC;
    color: #F2F2F2;
}
.filters-button i{
    position: absolute;
    padding: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    top: -3px;
    left: -3px;
}
.filters h3{
    margin-left: 45px;
}
.filters span{
    font-weight: bolder;
    margin-right: 15px;
}

/*INFO*/
.info{
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0px 0 20px 45px;
}
.info i{
    font-size: 12px;
    padding: 9px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}
.info p{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-left: 15px;
}

/*HEBERGEMENTS*/
.host{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
section, aside{
    background-color: #F2F2F2;
    border-radius: 2rem;
    margin-bottom: 15px;
   
}
.title-host{
    margin:30px 0 30px 30px;
    font-size: 25px;
}
section{
    display: flex;
    flex-direction: column;
    width: 880px;
    height: 630px;
}
.conteneur-vignette{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
}
.vignette{
    display: flex;
    flex-direction: column;
    width: 250px;
    max-height: 200px;
    border: 6px solid #ffff;
    border-radius: 1rem;
    margin-bottom: 10px;
    box-shadow: 3px 3px 0.8em gray;
    transition:0.2s;
}
.vignette:hover{
    box-shadow: 1px 1px 0.5em #576985;
    cursor: pointer;
}
.lien-vignette{
    width: 100%;
    height: 100%;
    padding: 0;
}
.conteneur-image{
    width: 100%;
    height: 100px;
}
.image-vignette{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.title-vignette{
    font-size: 17px;
    font-weight:800;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-image{padding-left: 10px;}

section p{display: inline;
    font-size: 15px;
    font-weight: 600;
    margin-right: 5px;
}
section span{font-size: 15px;}

.more{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px 0 20px 30px;
}
.linkmore{
    padding: 2px;
    border-radius: 1rem;
    transition:0.3s;
}
.linkmore:hover{
    box-shadow: 1px 1px 0.2em #576985;
    cursor: pointer;
}
.stars{padding: 10px 0 0 10px;}

i[data-selected="true"]{color: #0065FC;}

i[data-selected="false"]{color: #F2F2F2;}

/*LES PLUS POPULAIRES*/
aside{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 630px;
}
.header-popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fas.fa-chart-line{
    margin-right: 40px;
    font-size: 20px;
    font-weight: bolder;
}
.conteneur-vignette-popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.vignette-popular{
    display: flex;
    flex-direction:row;
    width: 335px;
    height: 135px;
    border: 5px solid #ffff;
    border-radius: 1rem;
    box-shadow: 3px 3px 0.8em gray;
    transition: 0.2s;
}
.vignette-popular:hover{
    box-shadow: 1px 1px 0.3em #576985;
    cursor: pointer;
}
.lien-vignette-popular{
    display: flex;
    padding:0;
}
.conteneur-image-popular{
    width: 130px;
    height: 100%;
}
.image-vignette-popular{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}
.info-image-popular{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
}
.title-image-popular{
    font-size: 17px;
    font-weight: 800;
    margin: 0 0 0 10px;
}
aside p{
    display: inline;
    margin: 0 0 0 10px;
    font-size: 15px;
    font-weight: 600;
}
.stars-popular{
    margin-left: 10px;
}

/*ACTIVITÉS*/
.activity{
    margin: 30px 0 30px 0;
}
.title-activity{
    font-size: 25px;
    margin: 0 0 20px 45px;
}
.all-activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.linkactivity{
    width: 100%;
    height: 100%;
    padding: 0;
}
.port, .fort-iles, .garde-longchamp, .calanques{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 302px;
}

.fort, .iles, .garde, .longchamp{
    display: flex;
    justify-content: space-between;
    
}
.port, .fort, .iles, .calanques, .garde, .longchamp{
    border-radius: 1rem;
    box-shadow: 5px 5px 0.8em gray;
    margin: 10px 0px;
}
.conteneur-image-large{
    height: 88%;
}
.image-vignette-activity{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}
.fort{
    width: 100%;
    height: 240px;
}
.conteneur-image-fort{
    width: 100%;
    height: 80%;
}
.iles{
    width: 100%;
    height: 165px;
}
.conteneur-image-iles{
    width: 100%;
    height: 70%;
}
.garde{
    width: 100%;
    height: 195px;
}
.conteneur-image-garde{
    width: 100%;
    height: 75%;
}
.longchamp{
    width: 100%;
    height: 210px;
}
.conteneur-image-longchamp{
    width: 100%;
    height: 76%;
}
.title-vignete-activity{
    align-items: center;
    font-size: 17px;
    padding-left: 15px;
}
.activity article{transition: 0.2s;}

.activity article:hover{
    box-shadow: 1px 1px 0.3em #576985;
    cursor: pointer;
}

/*FOOTER*/
footer{
    display: flex;
    background-color: #F2F2F2;
}
.about-footer, .host-footer, .assistance-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 33%;
    margin-top: 45px;
}
.about-footer{ margin-left: 45px;}

footer h2{
    margin: 20px 0 20px 0;
    font-size: 20px;
}
footer p{margin-top: 0;}

@media only screen and (max-width: 527px){
    header{
        display: flex;
        position: relative;
        padding-bottom: 60px;
    }
    .nav{
        display: flex;
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .hebergements-nav{
        display: block;
        width: 100%;
        border-top: 0;
        padding-bottom: 10px;
        border-bottom: 3px solid #0065FC;
    }
   .activites-nav{
        display: block;
        width: 100%;
        border-top: 0;
        padding-bottom: 15px;
        border-bottom: 3px solid #F2F2F2
    }
    .activites-nav:hover{border-top: 0;}

    .titleinfo, .title-host, .more, .title-activity, .logo, .search,
     .info, .filters h3, .filters-selection, .all-activity{margin-left: 25px;
    }
    .search-button{display: none;}
    .filters-button{margin: 0 5px 10px 0}

    .search-loupe{
        display: block;
        border-radius: 0 1rem 1rem 0;
        border: none;
        background-color: #0065FC;
        color: white;
    }
    .fas.fa-search{
        background-color: #0065FC;
        border-radius: 0 1rem 1rem 0;}

    .host{
        display: flex;
        max-width: 100%;
        max-height: 100%;
    }
    aside{border-radius: 0;
        width: 100%;
    }

    section{
        display: flex;
        background-color: inherit;
        height: 100%;
    }
    .vignette, .vignette-popular{
        width: 100%;
        margin: 0 20px 15px 25px;
    }
    footer{
        display: flex;
        flex-direction:column;
        margin-top: 15px;
        width: 100%;
    }
    .about-footer, .host-footer, .assistance-footer{
        margin-left: 25px;
        margin-top: 0;
        width: 100%;
    }
    footer p{
        display: inline;
        width: 100%;
    }
}
@media only screen and (min-width: 528px) and (max-width: 1300px){
    .host{
        max-width: 100%;
        max-height: 100%;
    }
    .filters-selection{margin-left: 30px;}
    .filters-button{margin-bottom: 10px;}

    section{
        display: flex;
        width: 100%;
        height: 100%;
        margin: 15px 0 15px 0;
    }
    aside{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .vignette-popular{width: 90%;}
    .lien-vignette-popular{width: 100%;}
    .conteneur-image-popular{width: 40%;}
}
@media only screen and (max-width:603px){
    .vignette-activity, .linkactivity{
        height: 180px;
        max-width: 100%;
    }
    .conteneur-image-fort, .conteneur-image-garde, .conteneur-image-iles, .conteneur-image-large, .conteneur-image-longchamp, .image-vignette-activity{
        height: 135px;
        width: 100%;
    }
    .fort-iles, .garde-longchamp{ max-width: 100%;}
    .all-activity{margin: 0 20px;}
}  