/* aides
bleu            #0065FC
plus claire     #DEEBFF
gris            #F2F2F2
*/
@font-face {
    font-family:"raleway";
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: "raleaway-italic";
    src: url(fonts/Raleway-Italic-VariableFont_wght.ttf);

}
body{
    margin: 45px;
    font-family: "raleway", sans-serif;   
}
/* HEADER ET BARRE NAV */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 30px;
}
nav{
    margin-right: 0; 
}
a{
    padding: 43px 26px 16px 26px;
    font-size: 17px;
    font-weight:600;
    text-decoration: none;
    color: inherit;
}
.hebergements-nav{
    color: #0065FC;
    border-top: 4px solid #0065FC;
}
.activites-nav:hover{
    color: #0065FC;
    border-top: 4px solid #0065fc;
}
.sign{
    font-weight:800;
    color: #0065FC;
    padding-right: 25;
}
.sign:hover{
    color: #0065FC;
    border-top: 4px solid #0065fc;
}


/*MAIN SEARCH*/

main h1{
    font-size: large;
}
main p{
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
}
.search{
    display: flex;
    height: 50px;
}
.search i{
    padding: 15px 19px;
    background-color: #F2F2F2;
    border-radius: 0.8rem 0 0 0.8rem;
}
input[type=search]{
    width: 230px;
    padding: 10px ;
    border: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    font-weight: 700;
}
.search-button{
    width: 135px;
    padding: 10px 10px 10px 10px;
    background-color: #0065FC;
    color:white;
    border: 0;
    border-radius: 0 0.8rem 0.8rem 0 ;
}
.search-button:hover{
    background-color: #165cc5;
}

/*MAIN FILTERS*/
.filters{
    display: flex;
    align-items: center;
    height: 100px;
    width: 950px;
    font-family: "raleway",sans-serif;
}
.filters-button{
    position: relative;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    padding: 10px;
    padding-left: 60px;
    margin-left: 20px;
}
.filters-button:hover{
    background-color:#0065FC;
    color: #F2F2F2;
}
.filters-button i{
    position: absolute;
    padding: 13px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    top: -2px;
    left: -2px;
}
span{
    font-weight: bolder;
    margin-right: 15px;
}

/*MAIN INFO*/
.info{
    display: flex;
    height: 50px;
    align-items: center;
}
.info i{
    font-size: 12px;
    padding: 9px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
}
.info p{
    font-size: 20px;
    font-weight: 400;
}
/*HEBERGEMENTS*/
article, aside{
    background-color: #F2F2F2;
    border-radius: 2rem;
   
}
article{
    display: inline-flex;
    width: 1200px;
    height: 600px;
}
aside{
    display: inline-flex;
    width: 360px;
    height: 600px;
}
.title-host{
    margin: 30px 0 0 30px;
}
.fas.fa-chart-line{
    display: inline-flex;
}