/* aides
bleu            #0065FC
plus claire     #DEEBFF
gris            #F2F2F2
*/
@font-face {
    font-family:"raleway";
    src: url(/fonts/Raleway-VariableFont_wght.ttf);
}
body{
    margin: 0;
    font-family: "raleway", sans-serif;   
}
/* HEADER ET BARRE NAV */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: 20px;
}
nav{
    margin: auto;
    margin-right: 0; 
}
a{
    padding: 35px 25px 16px 25px;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}
.hebergements{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.sign{
    font-weight: bolder;
    color: #0065FC;
}
.activites:hover{
    color: #0065FC;
}

/*MAIN*/
main{
    margin-left: 20px;
}
main h1{
    font-size: larger;
}
main p{
    color: inherit;
}
.search{
    margin: auto;
}
i{
    padding:11px 15px;
    background-color: #F2F2F2;
    border-radius: 30% 0 0 30%;
}
input[type=search]{
    width: 240px;
    padding: 10px ;
    border: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
}
input[type=button]{
    width: 100px;
    padding: 10px 0 10px 0;
    border: 0;
    background-color: #0065FC;
    border-radius: 0% 30% 30% 0;
}